/* CSS Stylesheet */
 /* * {
    border: 1px solid black ;
    top: 0;
    margin: 0;
    
    } 
/*
this is considered the global reset: 

* { 
    margin: 0; 
    padding: 0; 
    box-sizing:border-box; 
}
*/

html {
   
    height: 100%;
    width: 100%;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    background-color: rgba(243, 247, 14, 0.562);
    padding: 0;
    margin: 0;
}

body {
    margin: 0; /*this makes sure that none of the default margin creates space between elements. */
}

.heroImage {
    background-image: url(./assets/happy_goat.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*makes sure that the image covers the size of the container */
    height: 500px;
    position: relative;
    margin: 0;
    top: 0
}

.heroText {
    text-align: center;
    margin: auto;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    
}
#description {
    top: ;
    color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form {
    margin: auto;
    align-content: center;
    width: 95%;
    height: 95%;
    margin: 20px;
    background-color: rgba(240, 248, 255, 0.479);
    border-radius: 10px;
    padding: 3px;
    bottom: 0;
}

#title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    padding: 20px 20px 0px 20px;
    font-size: 60px;
    text-align: center;
}

.bold {

    font-size: larger;
    font-weight: 600;
    text-decoration: underline;

}

.text-box-style {
    width: 80vw;
    border-radius: 3px;
    padding: 5px;
    margin: 5px 0 10px 5px;
    border: none;
}

.goatsImg {
    display: block;
    margin: auto;
    height: fit-content;
    width: 100%;
    padding: 10px;
  /*  border: 1px dotted white; */
  border-radius: 10px;
}

.goat-text-area {
    width: 95%;
    padding: 10px;
    right: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

#smartGoatContainer {
    display: flow-root;
    
    grid-auto-rows: 100px;
    
}

.baby {
    background-color: rgb(255, 251, 0);
    text-align: center;
    font-size: larger;


}

.chooseWhich {
    width: 50%;
    align-self: stretch;
    
    

}



#submit {
    background-color: aquamarine;
    color: red;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    font-size: 20px;
    margin: auto;
    width: 30%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;

}

/* 1. i would like the h1 main element to stand alone vert and hori centered with the small caption underneath. Almost akin to the port page for FCC

2. Round out the boxes for names. (DONE)

2a. Blow up the text. (DONE)


3. Add images for the "how many goats in the picture?" question. (DONE)

4. Picture of Winifred and Douglass styled and centered underneath (DONE)

5. checkbox option will be paired with small emoji's at the end of the label. (DONE)

6. spruce up the text box to make it more visually pleasing. Round out the edges, soften the typewritter text for placeholder. (DONE)

7. Beautify the submit button. (DONE)

8. background image of a field. (DONE: happy goat in field instead)

9. Form background color to be an opaque mustard yellow-ish color. (DONE)

10. CENTER ELEMENTS/ work on layout of form (DONE)
11. adopt hero layout for background image of page /////////Do you like Goats?///// (DONE)
                                                    //////// Image in back ///////
                                                    FORM START ---------
                                                    Name 
                                                    Email...

*/



